In [1]:
import yfinance as yf

# Get FTSE data
ftse_data = yf.download('^FTSE')

# Print the data
print(ftse_data)

/home/codespace/.python/current/lib/python3.10/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

                   Open         High          Low        Close    Adj Close  \
Date
1984-01-03   997.500000  1001.400024   997.500000   997.500000   997.500000
1984-01-04   997.500000   999.500000   993.299988   998.599976   998.599976
1984-01-05  1007.099976  1015.799988  1007.099976  1015.799988  1015.799988
1984-01-06  1019.000000  1029.300049  1019.000000  1029.000000  1029.000000
1984-01-09  1030.599976  1035.400024  1030.599976  1034.599976  1034.599976
...                 ...          ...          ...          ...          ...
2024-02-19  7711.700195  7733.500000  7692.500000  7728.500000  7728.500000
2024-02-20  7728.500000  7748.700195  7706.000000  7719.200195  7719.200195
2024-02-21  7719.200195  7719.200195  7642.799805  7662.500000  7662.500000
2024-02-22  7662.500000  7702.899902  7651.700195  7684.500000  7684.500000
2024-02-23  7597.529785  7713.390137  7675.189941  7706.279785  7706.279785

                Volume
Date
1984-01-03           0
1984-01-04           0
1984-01-05           0
1984-01-06           0
1984-01-09           0
...                ...
2024-02-19   619639600
2024-02-20   889469600
2024-02-21  1271802800
2024-02-22  1408725800
2024-02-23           0

[10141 rows x 6 columns]